:root {
    --theme-1: rgb(113, 17, 44);
    --theme-2: rgb(128, 19, 50);
    --theme-3: rgb(143, 21, 55);
    --theme-4: rgb(158, 23, 61);
    --theme-5: rgb(173, 25, 67);
    --theme-6: rgb(187, 28, 73);
    --theme-7: rgb(202, 30, 78);
    --theme-8: rgb(217, 32, 84);
    --theme-9: rgb(224, 42, 94);
    --theme-10: rgb(226, 57, 105);
    --theme-11: rgb(228, 72, 116);
    --theme-12: rgb(230, 87, 127);
    --theme-13: rgb(232, 102, 138);
    --theme-14: rgb(235, 116, 150);
    --theme-15: rgb(237, 131, 161);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray-1: rgb(24, 24, 24);
    --gray-2: rgb(32, 32, 32);
    --gray-3: rgb(40, 40, 40);
    --gray-4: rgb(48, 48, 48);
    --gray-5: rgb(60, 60, 60);
    --gray-6: rgb(68, 68, 68);
    --gray-7: rgb(80, 80, 80);
    --gray-8: rgb(132, 132, 132);
    --gray-9: rgb(168, 168, 168);
    --gray-10: rgb(200, 200, 200);
    --gray-11: rgb(208, 208, 208);
    --gray-12: rgb(224, 224, 224);
    --gray-13: rgb(232, 232, 232);
    --gray-14: rgb(240, 240, 240);
    --gray-15: rgb(248, 248, 248);
    --red: rgb(240, 71, 71);
    --light-opac-1: rgba(248, 248, 248, .1);
    --light-opac-2: rgba(248, 248, 248, .2);
    --light-opac-4: rgba(248, 248, 248, .4);
    --light-opac-6: rgba(248, 248, 248, .6);
    --light-opac-8: rgba(248, 248, 248, .8);
    --dark-opac-1: rgba(24, 24, 24, .1);
    --dark-opac-2: rgba(24, 24, 24, .2);
    --dark-opac-4: rgba(24, 24, 24, .4);
    --dark-opac-6: rgba(24, 24, 24, .6);
    --dark-opac-8: rgba(24, 24, 24, .8);
}

:root {
    --color-bg-accent: var(--theme-8);
    --color-bg-accent-alt: var(--theme-7);
    --color-bg-accent-alt-2: var(--theme-6);
    --color-bg-base: var(--white);
    --color-bg-body: var(--gray-15);
    --color-bg-gray: var(--gray-8);
    --color-bg-opac-2: var(--light-opac-2);
    --color-bg-opac-4: var(--light-opac-4);
    --color-bg-opac-6: var(--light-opac-6);
    --color-bg-opac-8: var(--light-opac-8);
    --color-tx-accent: var(--theme-8);
    --color-tx-base: var(--black);
    --color-tx-alt: var(--gray-3);
    --color-tx-alt-2: var(--gray-7);
    --color-border-base: var(--gray-12);
    --color-bg-hover: var(--dark-opac-1);
    --color-shadow-2: var(--dark-opac-2);
    --color-shadow-4: var(--dark-opac-4);
    --color-shadow-6: var(--dark-opac-6);
    --color-shadow-8: var(--dark-opac-8);
    --color-red: var(--red);
    --color-white: var(--white);
    --color-black: var(--black);
}

body {
    background-color: rgb(255, 255, 255);
    background-color: var(--color-bg-base);
    color: rgb(24, 24, 24);
    color: var(--color-tx-base);
}

.css-bg-accent {
    background-color: rgb(217, 32, 84);
    background-color: var(--color-bg-accent);
}

.css-bg-accent-alt {
    background-color: rgb(202, 30, 78);
    background-color: var(--color-bg-accent-alt);
}

.css-bg-accent-alt-2 {
    background-color: rgb(187, 28, 73);
    background-color: var(--color-bg-accent-alt-2);
}

.css-bg-transparent {
    background-color: transparent;
}

.css-bg-base {
    background-color: rgb(255, 255, 255);
    background-color: var(--color-bg-base);
}

.css-bg-reverse {
    background-color: rgb(24, 24, 24);
    background-color: var(--color-tx-base);
}

.css-bg-body {
    background-color: rgb(248, 248, 248);
    background-color: var(--color-bg-body);
}

.css-bg-red {
    background-color: rgb(240, 71, 71);
    background-color: var(--color-red);
}

.css-bg-white {
    background-color: rgb(255, 255, 255);
    background-color: var(--color-white);
}

.css-bg-black {
    background-color: rgb(24, 24, 24);
    background-color: var(--color-black);
}

.css-bg-opac-2 {
    background-color: rgba(248, 248, 248, .2);
    background-color: var(--color-bg-opac-2);
}

.css-bg-opac-4 {
    background-color: rgba(248, 248, 248, .4);
    background-color: var(--color-bg-opac-4);
}

.css-bg-opac-6 {
    background-color: rgba(248, 248, 248, .6);
    background-color: var(--color-bg-opac-6);
}

.css-bg-opac-8 {
    background-color: rgba(248, 248, 248, .8);
    background-color: var(--color-bg-opac-8);
}

.css-btn-base {
    background-color: rgb(24, 24, 24);
    background-color: var(--color-tx-base);
    border-color: rgb(24, 24, 24);
    border-color: var(--color-tx-base);
}

.css-btn-transparent {
    background-color: transparent;
    border-color: transparent;
}

.css-btn-accent {
    background-color: rgb(217, 32, 84);
    background-color: var(--color-bg-accent);
    border-color: rgb(217, 32, 84);
    border-color: var(--color-bg-accent);
}

.css-btn-gray {
    background-color: rgb(132, 132, 132);
    background-color: var(--color-bg-gray);
    border-color: rgb(132, 132, 132);
    border-color: var(--color-bg-gray);
}

.css-btn-red {
    background-color: rgb(240, 71, 71);
    background-color: var(--color-red);
    border-color: rgb(240, 71, 71);
    border-color: var(--color-red);
}

.css-btn-border {
    background-color: transparent !important;
}

.css-tx-accent {
    color: rgb(217, 32, 84);
    color: var(--color-tx-accent);
}

.css-tx-base {
    color: rgb(24, 24, 24);
    color: var(--color-tx-base);
}

.css-tx-des {
    color: rgb(36, 32, 34);
    color: var(--color-tx-alt);
}

.css-tx-hint {
    color: rgb(80, 80, 80);
    color: var(--color-tx-alt-2);
}

.css-tx-reverse {
    color: rgb(255, 255, 255);
    color: var(--color-bg-base);
}

.css-tx-red {
    color: rgb(240, 71, 71);
    color: var(--color-red);
}

.css-tx-white {
    color: rgb(255, 255, 255);
    color: var(--color-white);
}

.css-tx-black {
    color: rgb(24, 24, 24);
    color: var(--color-black);
}

.css-border-transparent {
    border-color: transparent;
}

.css-border-current {
    border-color: currentColor;
}

.css-border-base {
    border-color: rgb(224, 224, 224);
    border-color: var(--color-border-base);
}

.css-border-top-base {
    border-top-color: rgb(224, 224, 224);
    border-top-color: var(--color-tx-base);
}

.css-border-right-base {
    border-right-color: rgb(224, 224, 224);
    border-right-color: var(--color-tx-base);
}

.css-border-left-base {
    border-left-color: rgb(224, 224, 224);
    border-left-color: var(--color-tx-base);
}

.css-border-bottom-base {
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-color: var(--color-border-base);
}

.css-border-accent {
    border-color: rgb(217, 32, 84);
    border-color: var(--color-bg-accent);
}

.css-border-top-accent {
    border-top-color: rgb(217, 32, 84);
    border-top-color: var(--color-bg-accent);
}

.css-border-right-accent {
    border-right-color: rgb(217, 32, 84);
    border-right-color: var(--color-bg-accent);
}

.css-border-left-accent {
    border-left-color: rgb(217, 32, 84);
    border-left-color: var(--color-bg-accent);
}

.css-border-bottom-accent {
    border-bottom-color: rgb(217, 32, 84);
    border-bottom-color: var(--color-bg-accent);
}

.css-shadow-2 {
    box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, .2);
    box-shadow: 0px 0px 2px 1px var(--color-shadow-2);
}

.css-shadow-4 {
    box-shadow: 0px 0px 4px 3px rgba(24, 24, 24, .2);
    box-shadow: 0px 0px 4px 3px var(--color-shadow-2);
}

.css-shadow-6 {
    box-shadow: 0px 0px 6px 5px rgba(24, 24, 24, .2);
    box-shadow: 0px 0px 6px 5px var(--color-shadow-2);
}