:root {
    --highlight: rgb(117, 25, 163);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray-1: rgb(24, 24, 24);
    --gray-2: rgb(32, 32, 32);
    --gray-3: rgb(40, 40, 40);
    --gray-4: rgb(48, 48, 48);
    --gray-5: rgb(60, 60, 60);
    --gray-6: rgb(68, 68, 68);
    --gray-7: rgb(80, 80, 80);
    --gray-8: rgb(132, 132, 132);
    --gray-9: rgb(168, 168, 168);
    --gray-10: rgb(200, 200, 200);
    --gray-11: rgb(208, 208, 208);
    --gray-12: rgb(224, 224, 224);
    --gray-13: rgb(232, 232, 232);
    --gray-14: rgb(240, 240, 240);
    --gray-15: rgb(248, 248, 248);
    --shell: rgb(255, 134, 134);
    --red: rgb(255, 78, 66);
    --pink: rgb(217, 32, 84);
    --beige: rgb(255, 231, 170);
    --yellow: rgb(230, 180, 54);
    --orange: rgb(255, 164, 0);
    --green: rgb(12, 206, 107);
    --light-opac-1: rgba(248, 248, 248, .1);
    --light-opac-2: rgba(248, 248, 248, .2);
    --light-opac-4: rgba(248, 248, 248, .4);
    --light-opac-6: rgba(248, 248, 248, .6);
    --light-opac-8: rgba(248, 248, 248, .8);
    --dark-opac-1: rgba(24, 24, 24, .1);
    --dark-opac-2: rgba(24, 24, 24, .2);
    --dark-opac-4: rgba(24, 24, 24, .4);
    --dark-opac-6: rgba(24, 24, 24, .6);
    --dark-opac-8: rgba(24, 24, 24, .8);
}

:root {
    --color-text-highlight: var(--highlight);
    --color-text-black: var(--gray-1);
    --color-text-black-alt: var(--gray-3);
    --color-text-black-alt-2: var(--gray-7);
    --color-text-white: var(--gray-15);
    --color-text-white-alt: var(--gray-13);
    --color-text-white-alt-2: var(--gray-9);
    --color-background-highlight: var(--highlight);
    --color-background-primary: var(--white);
    --color-background-secondary: var(--gray-15);
    --color-background-gray: rgb(58, 63, 69);
    --color-background-gray-alt: rgb(48, 53, 58);
    --color-border-base: var(--gray-12);
    --color-shadow-2: var(--dark-opac-2);
    --color-shadow-4: var(--dark-opac-4);
    --color-shadow-6: var(--dark-opac-6);
    --color-shadow-8: var(--dark-opac-8);
    --color-highlight: var(--highlight);
    --color-shell: var(--shell);
    --color-red: var(--red);
    --color-white: var(--white);
    --color-black: var(--black);
}

::selection {
    background-color: rgb(117, 25, 163, .85);
    color: #fff;
}

.css-background-highlight {
    background-color: rgb(117, 25, 163);
    background-color: var(--highlight);
}
.css-background-red {
    background-color: rgb(240, 71, 71);
    background-color: var(--red);
}
.css-background-base {
    background-color: rgb(255, 255, 255);
    background-color: var(--color-background-primary);
}
.css-background-alt {
    background-color: rgb(48, 53, 58);
    background-color: var(--color-background-secondary);
}
.css-background-black {
    background-color: rgb(24, 24, 24);
    background-color: var(--gray-1);
}
.css-background-transparent {
    background-color: transparent;
}
.css-background-black-opac-6 {
    background-color: var(--dark-opac-6);
    background-color: var(--color-shadow-6);
}
.css-background-white-opac-6 {
    background-color: var(--light-opac-6);
}
.css-background-white-opac-8 {
    background-color: var(--light-opac-8);
}

.css-btn-base {
    background-color: rgb(24, 24, 24);
    background-color: var(--color-tx-base);
    border-color: rgb(24, 24, 24);
    border-color: var(--color-tx-base);
}

.css-btn-transparent {
    background-color: transparent;
    border-color: transparent;
}

.css-btn-accent {
    background-color: rgb(217, 32, 84);
    background-color: var(--color-bg-accent);
    border-color: rgb(217, 32, 84);
    border-color: var(--color-bg-accent);
}

.css-btn-gray {
    background-color: rgb(132, 132, 132);
    background-color: var(--color-bg-gray);
    border-color: rgb(132, 132, 132);
    border-color: var(--color-bg-gray);
}

.css-btn-red {
    background-color: rgb(240, 71, 71);
    background-color: var(--color-red);
    border-color: rgb(240, 71, 71);
    border-color: var(--color-red);
}

.css-btn-border {
    background-color: transparent !important;
}

.css-text-black {
    color: rgb(24, 24, 24);
    color: var(--color-text-black);
}
.css-text-black-alt {
    color: rgb(40, 40, 40);
    color: var(--color-text-black-alt);
}
.css-text-black-alt-2 {
    color: rgb(80, 80, 80);
    color: var(--color-text-black-alt-2);
}
.css-text-white {
    color: rgb(248, 248, 248);
    color: var(--color-text-white);
}
.css-text-white-alt {
    color: rgb(232, 232, 232);
    color: var(--color-text-white-alt);
}
.css-text-white-alt-2 {
    color: rgb(168, 168, 168);
    color: var(--color-text-white-alt-2);
}
.css-text-highlight {
    color: rgb(117, 25, 163);
    color: var(--color-text-highlight);
}
.css-text-red {
    color: rgb(240, 71, 71);
    color: var(--red);
}
.css-text-shell {
    color: rgb(255, 134, 134);
    color: var(--shell);
}

.css-border-transparent {
    border-color: transparent;
}
.css-border-current {
    border-color: currentColor;
}
.css-border-base {
    border-color: rgb(224, 224, 224);
    border-color: var(--color-border-base);
}
.css-border-top-base {
    border-top-color: rgb(224, 224, 224);
    border-top-color: var(--color-tx-base);
}
.css-border-right-base {
    border-right-color: rgb(224, 224, 224);
    border-right-color: var(--color-tx-base);
}
.css-border-left-base {
    border-left-color: rgb(224, 224, 224);
    border-left-color: var(--color-tx-base);
}
.css-border-bottom-base {
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-color: var(--color-border-base);
}
.css-border-highlight {
    border-color: rgb(117, 25, 163);
    border-color: var(--highlight);
}
.css-border-red {
    border-color: rgb(240, 71, 71);
    border-color: var(--red);
}

.css-shadow-2 {
    box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, .2);
    box-shadow: 0px 0px 2px 1px var(--color-shadow-2);
}
.css-shadow-4 {
    box-shadow: 0px 0px 4px 3px rgba(24, 24, 24, .2);
    box-shadow: 0px 0px 4px 3px var(--color-shadow-2);
}
.css-shadow-6 {
    box-shadow: 0px 0px 6px 5px rgba(24, 24, 24, .2);
    box-shadow: 0px 0px 6px 5px var(--color-shadow-2);
}