.css-flex {
    display: flex;
}
.css-flex-row {
    flex-direction: row;
}
.css-flex-row-reverse {
    flex-direction: row-reverse;
}
.css-flex-col {
    flex-direction: column;
}
.css-flex-col-reverse {
    flex-direction: column-reverse;
}
.css-flex-wrap {
    flex-wrap: wrap;
}
.css-flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.css-flex-nowrap {
    flex-wrap: nowrap;
}
.css-flex-1 {
    flex: 1 1 0%;
}
.css-flex-auto {
    flex: 1 1 auto;
}
.css-flex-initial {
    flex: 0 1 auto;
}
.css-flex-none {
    flex: none;
}
.css-flex-grow-0 {
    flex-grow: 0;
}
.css-flex-grow-1 {
    flex-grow: 1;
}
.css-flex-shrink-0 {
    flex-shrink: 0;
}
.css-flex-shrink-1 {
    flex-shrink: 1;
}
.css-order-1 {
    order: 1;
}
.css-order-2 {
    order: 2;
}
.css-order-3 {
    order: 3;
}
.css-order-4 {
    order: 4;
}
.css-order-5 {
    order: 5;
}
.css-order-6 {
    order: 6;
}
.css-order-7 {
    order: 7;
}
.css-order-8 {
    order: 8;
}
.css-order-9 {
    order: 9;
}
.css-order-10 {
    order: 10;
}
.css-order-11 {
    order: 11;
}
.css-order-12 {
    order: 12;
}
.css-order-first {
    order: -9999;
}
.css-order-last {
    order: 9999;
}

.css-justify-start {
    justify-content: flex-start;
}

.css-justify-end {
    justify-content: flex-end;
}

.css-justify-center {
    justify-content: center;
}

.css-justify-between {
    justify-content: space-between;
}

.css-justify-around {
    justify-content: space-around;
}

.css-justify-evenly {
    justify-content: space-evenly;
}

.css-items-start {
    align-items: flex-start;
}

.css-items-end {
    align-items: flex-end;
}

.css-items-center {
    align-items: center;
}

.css-items-baseline {
    align-items: baseline;
}

.css-items-stretch {
    align-items: stretch;
}