/* container */

.css-container {
    max-width: 1080px;
}

.css-nav-container {
    width: 240px;
}

.css-app-container {
    width: 840px;
}

@media (max-width: 1279px) {
    .css-app-container {
        width: 600px;
    }
}
@media (max-width: 1023px) {
    .css-app-container {
        width: 100%;
        max-width: 100%;
    }
}

.css-portal-window {
    max-width: 600px;
}

.css-full-width {
    width: 100%;
}

.css-full-height {
    height: 100%;
}

.css-full-min-width {
    min-width: 100%;
}

.css-full-min-height {
    min-height: 100%;
}

.css-full-max-height {
    max-height: 100%;
}


/* box-sizing */

.css-box-border {
    box-sizing: border-box;
}

.css-box-content {
    box-sizing: content-box;
}

/* display */

.css-block {
    display: block;
}

.css-inline-block {
    display: inline-block;
}

.css-inline {
    display: inline;
}

.css-table {
    display: table;
}

.css-table-caption {
    display: table-caption;
}

.css-table-cell {
    display: table-cell;
}

.css-table-column {
    display: table-column;
}

.css-table-column-group {
    display: table-column-group;
}

.css-table-row {
    display: table-row;
}

.css-table-row-group {
    display: table-row-group;
}

.css-table-footer-group {
    display: table-footer-group;
}

.css-table-header-group {
    display: table-footer-group;
}

/* overflow */

.css-overflow-auto {
    overflow: auto;
}

.css-overflow-hidden {
    overflow: hidden;
}

.css-overflow-visible {
    overflow: visible;
}

.css-overflow-scroll {
    overflow: scroll;
}

.css-overflow-x-auto {
    overflow-x: auto;
}

.css-overflow-x-hidden {
    overflow-x: hidden;
}

.css-overflow-x-visible {
    overflow-x: visible;
}

.css-overflow-x-scroll {
    overflow-x: scroll;
}

.css-overflow-y-auto {
    overflow-y: auto;
}

.css-overflow-y-hidden {
    overflow-y: hidden;
}

.css-overflow-y-visible {
    overflow-y: visible;
}

.css-overflow-y-scroll {
    overflow-y: scroll;
}

/* position */

.css-position-static {
    position: static;
}

.css-position-fixed {
    position: fixed;
}

.css-position-relative {
    position: relative;
}

.css-position-absolute {
    position: absolute;
}

.css-position-sticky {
    position: sticky;
}

.css-inset-0 {
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.css-inset-y-0 {
    top: 0px;
    bottom: 0px;
}

.css-inset-x-0 {
    right: 0px;
    left: 0px;
}

.css-top-0 {
    top: 0px;
}

.css-right-0 {
    right: 0px;
}

.css-left-0 {
    left: 0px;
}

.css-bottom-0 {
    bottom: 0px;
}

/* visibility */

.css-visible {
    visibility: visible;
}

.css-invisible {
    visibility: hidden;
}

/* z-index */

.css-z-0 {
    z-index: 0;
}

.css-z-10 {
    z-index: 10;
}

.css-z-20 {
    z-index: 20;
}

.css-z-30 {
    z-index: 30;
}

.css-z-40 {
    z-index: 40;
}

.css-z-50 {
    z-index: 50;
}

.css-z-auto {
    z-index: auto;
}

.css-z-foreground {
    z-index: 9999;
}

.css-z-background {
    z-index: -9999;
}
