/** padding */

.css-pd-t-sa {
    padding-top: env(safe-area-inset-top);
}
.css-pd-l-sa {
    padding-left: env(safe-area-inset-left);
}
.css-pd-r-sa {
    padding-right: env(safe-area-inset-right);
}
.css-pd-b-sa {
    padding-bottom: env(safe-area-inset-bottom);
}

.css-pd-top-outline {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.css-pd-body-outline {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.css-pd-bottom-outline {
    padding-bottom: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.css-pd-0 {
    padding: 0;
}

.css-pd-t-0 {
    padding-top: 0;
}

.css-pd-r-0 {
    padding-right: 0;
}

.css-pd-l-0 {
    padding-left: 0;
}

.css-pd-b-0 {
    padding-bottom: 0;
}

.css-pd-0-25 {
    padding: .25rem;
}

.css-pd-x-0-25 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.css-pd-y-0-25 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.css-pd-0-5 {
    padding: .5rem;
}

.css-pd-x-0-5 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.css-pd-y-0-5 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.css-pd-1 {
    padding: 1rem;
}

.css-pd-x-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.css-pd-y-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.css-pd-t-1 {
    padding-top: 1rem;
}

.css-pd-r-1 {
    padding-right: 1rem;
}

.css-pd-l-1 {
    padding-left: 1rem;
}

.css-pd-b-1 {
    padding-bottom: 1rem;
}

.css-pd-2 {
    padding: 2rem;
}

.css-pd-x-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.css-pd-y-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/** margin */

.css-mg-x-auto {
    margin: 0 auto;
}

.css-mg-0 {
    margin: 0;
}

.css-mg-x-0 {
    margin-left: 0;
    margin-right: 0;
}

.css-mg-y-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.css-mg-0-25 {
    margin: .25rem;
}

.css-mg-x-0-25 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.css-mg-y-0-25 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.css-mg-t-0-25 {
    margin-top: .25rem;
}

.css-mg-r-0-25 {
    margin-right: .25rem;
}

.css-mg-l-0-25 {
    margin-left: .25rem;
}

.css-mg-b-0-25 {
    margin-bottom: .25rem;
}

.css-mg-0-5 {
    margin: .5rem;
}

.css-mg-x-0-5 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.css-mg-y-0-5 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.css-mg-t-0-5 {
    margin-top: .5rem;
}

.css-mg-r-0-5 {
    margin-right: .5rem;
}

.css-mg-l-0-5 {
    margin-left: .5rem;
}

.css-mg-b-0-5 {
    margin-bottom: .5rem;
}

.css-mg-1 {
    margin: 1rem;
}

.css-mg-x-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.css-mg-y-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.css-mg-t-1 {
    margin-top: 1rem;
}

.css-mg-r-1 {
    margin-right: 1rem;
}

.css-mg-l-1 {
    margin-left: 1rem;
}

.css-mg-b-1 {
    margin-bottom: 1rem;
}

.css-mg-2 {
    margin: 2rem;
}

.css-mg-x-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.css-mg-y-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.css-mg-t-2 {
    margin-top: 2rem;
}

.css-mg-r-2 {
    margin-right: 2rem;
}

.css-mg-l-2 {
    margin-left: 2rem;
}

.css-mg-b-2 {
    margin-bottom: 2rem;
}