.css-font-sans {
    font-family: 'Ubuntu', "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.css-font-serif {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.css-font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.css-text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.css-text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.css-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.css-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.css-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.css-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.css-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.css-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.css-text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.css-line-height-1 {
    line-height: 1;
}

.css-line-height-1-2 {
    line-height: 1.2;
}

.css-line-height-1-5 {
    line-height: 1.5;
}

.css-line-height-1-8 {
    line-height: 1.8;
}

.css-line-height-2 {
    line-height: 2;
}

.css-antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-subpixel-antialiased {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.css-font-italic {
    font-style: italic;
}

.css-font-not-italic {
    font-style: normal;
}

.css-font-normal {
    font-weight: 400;
}

.css-font-bold {
    font-weight: 700;
}

.css-font-black {
    font-weight: 900;
}

.css-text-underline {
    text-decoration: underline;
}

.css-text-line-through {
    text-decoration: line-through;
}

.css-text-no-underline {
    text-decoration: none;
}

.css-text-left {
    text-align: left;
}

.css-text-center {
    text-align: center;
}

.css-text-right {
    text-align: right;
}

.css-text-justify {
    text-align: justify;
}

.css-whitespace-normal {
    white-space: normal;
}

.css-whitespace-nowrap {
    white-space: nowrap;
}

.css-whitespace-pre {
    white-space: pre;
}

.css-whitespace-pre-line {
    white-space: pre-line;
}

.css-whitespace-pre-wrap {
    white-space: pre-wrap;
}

.css-break-normal {
    overflow-wrap: normal;
    word-break: normal;
}

.css-break-words {
    overflow-wrap: break-word;
}

.css-break-all {
    word-break: break-all;
}