/* background */
.css-bg-fixed {
    background-attachment: fixed;
}

.css-bg-local {
    background-attachment: local;
}

.css-bg-scroll {
    background-attachment: scroll;
}

.css-bg-clip-border {
    background-clip: border-box;
}

.css-bg-clip-padding {
    background-clip: padding-box;
}

.css-bg-clip-content {
    background-clip: content-box;
}

.css-bg-clip-text {
    background-clip: text;
}

.css-bg-bottom {
    background-position: bottom;
}

.css-bg-center {
    background-position: center;
}

.css-bg-top {
    background-position: top;
}

.css-bg-left {
    background-position: left;
}

.css-bg-left-bottom {
    background-position: left bottom;
}

.css-bg-left-top {
    background-position: left top;
}

.css-bg-right {
    background-position: right;
}

.css-bg-right-bottom {
    background-position: right bottom;
}

.css-bg-right-top {
    background-position: right top;
}

.css-bg-repeat {
    background-repeat: repeat;
}

.css-bg-repeat-x {
    background-repeat: repeat-x;
}

.css-bg-repeat-y {
    background-repeat: repeat-y;
}

.css-bg-no-repeat {
    background-repeat: no-repeat;
}

.css-bg-auto {
    background-size: auto;
}

.css-bg-cover {
    background-size: cover;
}

.css-bg-contain {
    background-size: contain;
}


/* border */
.css-border-0 {
    border-width: 0px;
}

.css-border-1 {
    border-width: 1px;
}

.css-border-top-1 {
    border-top-width: 1px;
}

.css-border-right-1 {
    border-right-width: 1px;
}

.css-border-left-1 {
    border-left-width: 1px;
}

.css-border-bottom-1 {
    border-bottom-width: 1px;
}

.css-border-2 {
    border-width: 2px;
}

.css-border-top-2 {
    border-top-width: 2px;
}

.css-border-right-2 {
    border-right-width: 2px;
}

.css-border-left-2 {
    border-left-width: 2px;
}

.css-border-bottom-2 {
    border-bottom-width: 2px;
}

.css-border-4 {
    border-width: 4px;
}

.css-border-8 {
    border-width: 8px;
}

.css-border-solid {
    border-style: solid;
}

.css-border-dashed {
    border-style: dashed;
}

.css-border-dotted {
    border-style: dotted;
}

.css-border-double {
    border-style: double;
}

.css-border-none {
    border-style: none;
}

.css-border-radius-1 {
    border-radius: 1px;
}

.css-border-radius-2 {
    border-radius: 2px;
}

.css-border-radius-4 {
    border-radius: 4px;
}

.css-border-radius-6 {
    border-radius: 6px;
}

.css-border-radius-8 {
    border-radius: 8px;
}

.css-border-radius-round {
    border-radius: 9999px;
}


/* effects */

.css-opacity-0 {
    opacity: 0;
}

.css-opacity-5 {
    opacity: .05;
}

.css-opacity-10 {
    opacity: .1;
}

.css-opacity-15 {
    opacity: .15;
}

.css-opacity-20 {
    opacity: .2;
}

.css-opacity-25 {
    opacity: .25;
}

.css-opacity-30 {
    opacity: .3;
}

.css-opacity-35 {
    opacity: .35;
}

.css-opacity-40 {
    opacity: .4;
}

.css-opacity-45 {
    opacity: .45;
}

.css-opacity-50 {
    opacity: .5;
}

.css-opacity-55 {
    opacity: .55;
}

.css-opacity-60 {
    opacity: .6;
}

.css-opacity-65 {
    opacity: .65;
}

.css-opacity-70 {
    opacity: .7;
}

.css-opacity-75 {
    opacity: .75;
}

.css-opacity-80 {
    opacity: .8;
}

.css-opacity-85 {
    opacity: .85;
}

.css-opacity-90 {
    opacity: .9;
}

.css-opacity-95 {
    opacity: .95;
}

.css-opacity-100 {
    opacity: 1;
}

/* transition */

.css-transition-all {
    transition-property: all;
}

.css-transition-none {
    transition-property: none;
}

.css-transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

.css-transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
}

.css-transition-opacity {
    transition-property: opacity;
}

.css-transition-shadow {
    transition-property: box-shadow;
}

.css-transition-transform {
    transition-property: transform;
}

.css-duration-75 {
    transition-duration: 75ms;
}

.css-duration-100 {
    transition-duration: 100ms;
}

.css-duration-150 {
    transition-duration: 150ms;
}

.css-duration-200 {
    transition-duration: 200ms;
}

.css-duration-250 {
    transition-duration: 250ms;
}

.css-duration-300 {
    transition-duration: 300ms;
}

.css-duration-500 {
    transition-duration: 500ms;
}

.css-duration-700 {
    transition-duration: 700ms;
}

.css-duration-1000 {
    transition-duration: 1000ms;
}

.css-delay-75 {
    transition-delay: 75ms;
}

.css-delay-100 {
    transition-delay: 100ms;
}

.css-delay-150 {
    transition-delay: 150ms;
}

.css-delay-200 {
    transition-delay: 200ms;
}

.css-delay-250 {
    transition-delay: 250ms;
}

.css-delay-300 {
    transition-delay: 300ms;
}

.css-delay-500 {
    transition-delay: 500ms;
}

.css-delay-700 {
    transition-delay: 700ms;
}

.css-delay-1000 {
    transition-delay: 1000ms;
}

.css-ease-linear {
    transition-timing-function: linear;
}

.css-ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.css-ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.css-ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* interactivity */

.css-appearance-none {
    appearance: none;
}

.css-cursor-auto {
    cursor: auto;
}

.css-cursor-default {
    cursor: default;
}

.css-cursor-pointer {
    cursor: pointer;
}

.css-cursor-wait {
    cursor: wait;
}

.css-cursor-text {
    cursor: text;
}

.css-cursor-move {
    cursor: move;
}

.css-cursor-not-allowed {
    cursor: not-allowed;
}

.css-outline-none {
    outline: none;
}
.css-outline-none:hover,
.css-outline-none:focus {
    outline: none;
}

.css-outline-white {
    outline: 2px dotted white;
    outline-offset: 2px;
}

.css-outline-black {
    outline: 2px dotted black;
    outline-offset: 2px;
}

.css-pointer-events-none {
    pointer-events: none;
}

.css-pointer-events-auto {
    pointer-events: auto;
}

.css-resize-none {
    resize: none;
}

.css-resize-y {
    resize: vertical;
}

.css-resize-x {
    resize: horizontal;
}

.css-resize {
    resize: both;
}

.css-select-none {
    user-select: none;
}

.css-select-text {
    user-select: text;
}

.css-select-all {
    user-select: all;
}

.css-select-auto {
    user-select: auto;
}


/** svg */

.css-svg-fill-none {
    fill: none;
}

.css-svg-fill-current {
    fill: currentColor;
}

.css-svg-stroke-current {
    stroke: currentColor;
}

.css-svg-stroke-0 {
    stroke-width: 0;
}

.css-svg-stroke-1 {
    stroke-width: 1;
}

.css-svg-stroke-2 {
    stroke-width: 2;
}